[submodule "sketches/catena4610-pulse-generic"]
	path = sketches/model4905-indoor-sap-flow
	url = git@github.com:mcci-catena/model4905-indoor-sap-flow.git
[submodule "libraries/Catena-Arduino-Platform"]
	path = libraries/Catena-Arduino-Platform
	url = https://github.com/mcci-catena/Catena-Arduino-Platform.git
[submodule "libraries/arduino-lorawan"]
	path = libraries/arduino-lorawan
	url = https://github.com/mcci-catena/arduino-lorawan.git
[submodule "libraries/Catena-mcciadk"]
	path = libraries/Catena-mcciadk
	url = https://github.com/mcci-catena/Catena-mcciadk.git
[submodule "libraries/arduino-lmic"]
	path = libraries/arduino-lmic
	url = https://github.com/mcci-catena/arduino-lmic.git
[submodule "libraries/Adafruit_BME280_Library"]
	path = libraries/Adafruit_BME280_Library
	url = https://github.com/mcci-catena/Adafruit_BME280_Library.git
[submodule "libraries/Adafruit_Sensor"]
	path = libraries/Adafruit_Sensor
	url = https://github.com/mcci-catena/Adafruit_Sensor.git
[submodule "libraries/MCCI_FRAM_I2C"]
	path = libraries/MCCI_FRAM_I2C
	url = https://github.com/mcci-catena/MCCI_FRAM_I2C.git
[submodule "extra/Arduino_Core_STM32"]
	path = extra/Arduino_Core_STM32
	url = git@github.com:mcci-catena/Arduino_Core_STM32.git
[submodule "extra/bootloader"]
	path = extra/bootloader
	url = git@github.com:mcci-catena/bootloader.git
[submodule "extra/dfu-util"]
	path = extra/dfu-util
	url = git://git.code.sf.net/p/dfu-util/dfu-util
[submodule "extra/tools-build-with-cli"]
	path = extra/tools-build-with-cli
	url = git@github.com:mcci-catena/tools-build-with-cli.git
